<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urbanfit.bem.dao.BannerDao">
    <select id="queryBannerByType" parameterType="int" resultType="com.urbanfit.bem.entity.Banner">
        select * from t_banner where type = #{type}
    </select>
</mapper>