<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urbanfit.bem.dao.ClientInfoDao">
    <!-- 添加用户信息 -->
    <insert id="addClientInfo" parameterType="com.urbanfit.bem.entity.ClientInfo"
            useGeneratedKeys="true" keyProperty="clientId">
        insert into t_clientinfo (mobile, name, password, status, createTime, nickname, openId) values (#{mobile},
            #{name}, #{password}, 0, now(), #{nickname}, #{openId})
    </insert>
    <!-- 根据手机号码查询用户信息 -->
    <select id="queryClientInfoByMobile" parameterType="String" resultType="com.urbanfit.bem.entity.ClientInfo">
        select * from t_clientinfo where status = 0 and mobile = #{mobile}
    </select>
    <!-- 修改密码 -->
    <update id="updatePassword" parameterType="map">
        update t_clientinfo set password = #{password} where mobile = #{mobile} and status = 0
    </update>
    <!-- 根据客户id查询用户信息 -->
    <select id="queryClientById" parameterType="int" resultType="com.urbanfit.bem.entity.ClientInfo">
        select * from t_clientinfo where clientId = #{clientId} and status = 0
    </select>

    <update id="updateClientInfo" parameterType="com.urbanfit.bem.entity.ClientInfo">
        update t_clientinfo set name = #{name}, nickname = #{nickname}, gender = #{gender}, email = #{email},
        openId = #{openId} where clientId = #{clientId}
    </update>

    <select id="queryClientByOpenId" parameterType="String" resultType="com.urbanfit.bem.entity.ClientInfo">
        select * from t_clientinfo where openId = #{openId} and status = 0
    </select>

    <update id="updateClient" parameterType="com.urbanfit.bem.entity.ClientInfo">
        update t_clientinfo set nickname = #{nickname} where clientId = #{clientId}
    </update>

    <update id="updateHeadPortrait" parameterType="map">
        update t_clientinfo set headPortrait = #{headPortrait} where clientId = #{clientId}
    </update>
</mapper>