<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urbanfit.bem.dao.CoachAuthDao">
    <!-- 添加门店信息 -->
    <insert id="addCoachAuth" parameterType="com.urbanfit.bem.entity.CoachAuth"
            useGeneratedKeys="true" keyProperty="storeId">
        insert into t_coach_auth (coachName, coachCardNum, userId, createTime) values (#{coachName}, #{coachCardNum},
        #{userId}, now())
    </insert>
    <!-- 查询教练证号码是否认证过 -->
    <select id="queryCoachAuthByCardNum" parameterType="String" resultType="com.urbanfit.bem.entity.CoachAuth">
        select * from t_coach_auth where coachCardNum = #{coachCardNum}
    </select>
    <!-- 查询教练证号码是否认证过 -->
    <select id="queryCoachAuthByCardNumAndId" parameterType="map" resultType="com.urbanfit.bem.entity.CoachAuth">
        select * from t_coach_auth where coachCardNum = #{coachCardNum} and authId != #{authId}
    </select>
    <!-- 修改门店信息 -->
    <update id="updateCoachAuth" parameterType="com.urbanfit.bem.entity.CoachAuth">
        update t_coach_auth set coachName = #{coachName}, coachCardNum = #{coachCardNum}, userId = #{userId},
        where authId = #{authId}
    </update>
    <!-- 删除认证 -->
    <delete id="deleteCoachAuth" parameterType="int">
        delete from t_coach_auth where authId = #{authId}
    </delete>

    <select id="queryCoachAuth" parameterType="map" resultType="com.urbanfit.bem.entity.CoachAuth">
        select * from t_coach_auth where coachName = #{coachName} and coachCardNum = #{coachCardNum} limit 1
    </select>
</mapper>