<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urbanfit.bem.dao.JoinWaitingCourseDao">
    <!-- 添加课程信息 -->
    <insert id="addJoinWaitingCourse" parameterType="com.urbanfit.bem.entity.JoinWaitingCourse"
            useGeneratedKeys="true" keyProperty="joinId">
        insert into t_join_waiting_course (clientId, courseId, courseName, clientName, clientMobile, createTime)
        values (#{clientId}, #{courseId}, #{courseName}, #{clientName}, #{clientMobile}, now())
    </insert>
</mapper>