<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urbanfit.bem.dao.OrderMasterDao">
    <sql id="limit">
        limit #{pageOffset}, #{pageSize}
    </sql>

    <select id="queryOrderMaterDetail" parameterType="String" resultType="com.urbanfit.bem.entity.OrderMaster">
        select m.*, n.`name` clientName, c.courseType, p.couponName, p.sourceName from
        t_client_order_master m left join t_clientinfo n on m.clientId = n.clientId left join t_course c on
        m.courseId = c.courseId left join t_coupon p on m.couponId = p.couponId where orderNum = #{orderNum}
    </select>

    <select id="queryOrderMasterByOrderNum" parameterType="String" resultType="com.urbanfit.bem.entity.OrderMaster">
        select * from t_client_order_master where orderNum = #{orderNum}
    </select>

    <select id="updateOrderMasterStatus" parameterType="String">
        update t_client_order_master set status = 2 where orderNum = #{orderNum}
    </select>

    <select id="queryClientOrderMasterCount" parameterType="map" resultType="int">
        select count(m.orderId) from (
            select m.*, n.`name` clientName, c.courseType from t_client_order_master m left join t_clientinfo n
            on m.clientId = n.clientId left join t_course c on m.courseId = c.courseId where m.clientId = #{clientId}
            <if test="orderNum != null">
                and orderNum like CONCAT("%", #{orderInfo}, "%")
            </if>
            <if test="status == null">  <!-- 查询全部 -->
                and (m.status = 1 or m.status = 2 or m.status = 3 or (m.status = 0 and m.wechatType = #{wechatType}))
            </if>
            <if test="status == 0">
                and m.status = #{status} and m.wechatType = #{wechatType}
            </if>
            <if test="status == 1 or status == 2 or status == 3">
                and m.status = #{status}
            </if>
        ) m
    </select>

    <select id="queryClientOrderMasterList" parameterType="map" resultType="com.urbanfit.bem.entity.OrderMaster">
        select m.*, n.`name` clientName, c.courseType from t_client_order_master m left join t_clientinfo n
        on m.clientId = n.clientId left join t_course c on m.courseId = c.courseId where m.clientId = #{clientId}
        <if test="orderNum != null">
            and orderNum like CONCAT("%", #{orderInfo}, "%")
        </if>
        <if test="status == null">  <!-- 查询全部 -->
            and (m.status = 1 or m.status = 2 or m.status = 3 or (m.status = 0 and m.wechatType = #{wechatType}))
        </if>
        <if test="status == 0">
            and m.status = #{status} and m.wechatType = #{wechatType}
        </if>
        <if test="status == 1 or status == 2 or status == 3">
            and m.status = #{status}
        </if>
        order by m.createTime desc
        <include refid="limit"/>
    </select>

    <select id="queryClientOrderMaterDetail" parameterType="map" resultType="com.urbanfit.bem.entity.OrderMaster">
        select m.*, n.`name` clientName, c.courseType, p.couponName, p.sourceName from
        t_client_order_master m left join t_clientinfo n on m.clientId = n.clientId left join t_course c on
        m.courseId = c.courseId left join t_coupon p on m.couponId = p.couponId where m.clientId = #{clientId}
        and orderNum = #{orderNum}
    </select>

    <insert id="addOrderMaster" parameterType="com.urbanfit.bem.entity.OrderMaster"
            useGeneratedKeys="true" keyProperty="orderId">
        insert into t_client_order_master (orderNum, clientId, childrenName, clientMobile, courseId, courseName,
        courseDistrict, price, payPrice, isUseCoupon, couponId, couponNum, couponPercent, couponPrice, payment,
        status, createTime, systemCancleTime, remarks, detailId, courseSize, storeId, storeName, storeAddress,
        courseTypeName, wechatType) values (#{orderNum}, #{clientId}, #{childrenName}, #{clientMobile}, #{courseId},
        #{courseName},#{courseDistrict}, #{price}, #{payPrice}, #{isUseCoupon}, #{couponId}, #{couponNum}, #{couponPercent},
        #{couponPrice}, #{payment}, #{status}, #{createTime}, #{systemCancleTime}, #{remarks}, #{detailId},
        #{courseSize}, #{storeId}, #{storeName}, #{storeAddress}, #{courseTypeName}, #{wechatType})
    </insert>

    <update id="updateOrderMaster" parameterType="map">
        update t_client_order_master set status = #{status}, payment = #{payment}, payTime = #{payTime}
        where orderNum = #{orderNum}
    </update>
</mapper>