<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urbanfit.bem.dao.StoreDao">
    <!-- 添加门店信息 -->
    <insert id="addStore" parameterType="com.urbanfit.bem.entity.Store"
            useGeneratedKeys="true" keyProperty="storeId">
        insert into t_score (storeName, storeDistrict, storeAddress, mobile, contactName, status, userId, createTime)
        values (#{storeName}, #{storeDistrict}, #{storeAddress}, #{mobile}, #{contactName}, 0, #{userId}, now())
    </insert>
    <!-- 根据门店名称查询数据 -->
    <select id="queryStoreByName" parameterType="String" resultType="com.urbanfit.bem.entity.Store">
        select * from t_score where storeName = #{storeName} and status = 0
    </select>
    <!-- 根据门店名称、门店id查询数据 -->
    <select id="queryStoreByNameAndId" parameterType="map" resultType="com.urbanfit.bem.entity.Store">
        select * from t_score where storeName = #{storeName} and storeId != #{storeId} and status = 0
    </select>
    <!-- 修改门店信息 -->
    <update id="updateStore" parameterType="com.urbanfit.bem.entity.Store">
        update t_score set storeName = #{storeName}, storeDistrict = #{storeDistrict}, storeAddress = #{storeAddress},
        mobile = #{mobile}, contactName = #{contactName}, status = 0, userId = #{userId} where storeId = #{storeId}
    </update>
</mapper>